<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml">
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" language="es">
    <title>Confirm your ID4me registration</title>
</head>
<body style="background-color: #F1F1F1; font-family: 'Trebuchet MS', 'Sans-Serif'; font-size: 13px; line-height: 18px; margin: 0; padding: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
<table border="0" cellpadding="0" cellspacing="0" class="body" style="border-collapse: separate; background-color: #F1F1F1; width: 100%;" width="100%" bgcolor="#F1F1F1">
    <tr>
        <td style="vertical-align: top; padding-top: 5px; padding-bottom: 5px;" valign="top">&nbsp;</td>
        <td class="container" style="vertical-align: top; padding-top: 5px; padding-bottom: 5px; display: block; max-width: 600px; width: 600px; margin: 0 auto;" width="600" valign="top">
            <table class="main wrapper" style="border-collapse: separate; background: #ffffff; width: 100%; padding-left: 30px; padding-right: 30px; padding-top: 20px; padding-bottom: 20px;" width="100%">
                <tr>
                    <td class="title" style="vertical-align: top; padding-top: 20px; padding-bottom: 10px;" valign="top">
                        <span style="color: #7F7F7F; font-size: 20px; font-family: 'Arial', 'Sans-Serif'; text-align: left;">
                            Confirm your ID4me registration
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top; padding-top: 5px; padding-bottom: 5px;" valign="top">
                        <span style="color: #7F7F7F; text-align: justify; font-size: 13px;">
                            Hey there!
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top; padding-top: 5px; padding-bottom: 5px;" valign="top">
                        <span style="color: #7F7F7F; text-align: justify; font-size: 13px;">
                            Thank you for your ID4me registration.
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top; padding-top: 5px; padding-bottom: 5px;" valign="top">
                        <blockquote style="border-left: 5px #7F7F7F solid; padding-left: 12px; margin: 20px 20px;">
                            <span style="display: block; margin-bottom: 10px; color: #7F7F7F; text-align: justify; font-size: 13px;">
                                <b>ID4me:</b> {{ domain }}
                            </span>
                            <span style="display: block; margin-bottom: 10px; color: #7F7F7F; text-align: justify; font-size: 13px;">
                                <b>Identity Authority:</b> https://{{ iau }}
                            </span>
                            <span style="display: block; margin-bottom: 10px; color: #7F7F7F; text-align: justify; font-size: 13px;">
                                <b>Identity Agent:</b> {{ iag }}
                            </span>
                        </blockquote>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top; padding-top: 5px; padding-bottom: 5px;" valign="top">
                        <span style="color: #7F7F7F; text-align: justify; font-size: 13px;">
                            Your registration is almost done. Please click on the link below to proceed.
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top; padding-top: 5px; padding-bottom: 5px;" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" class="btn" style="border-collapse: separate; width: 100%;" width="100%">
                            <tbody>
                            <tr>
                                <td width="30%" style="vertical-align: top; padding-top: 15px; padding-bottom: 15px;" valign="top">&nbsp;</td>
                                <td class="btn-wrapper" bgcolor="#AB945A" width="40%" style="vertical-align: top; text-align: center; margin: 0; padding: 0; background-color: #AB945A; padding-top: 15px; padding-bottom: 15px;" valign="top" align="center">
                                    <a target="_blank" href="{{ magic }}" style="cursor: pointer; text-decoration: none;">
                                        <span style="text-align: justify; font-size: 14px; color: #ffffff; line-height: 1; color: #ffffff; font-weight: bold; text-decoration: none;">Setup my ID4me</span>
                                    </a>
                                </td>
                                <td width="30%" style="vertical-align: top; padding-top: 15px; padding-bottom: 15px;" valign="top">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top; padding-top: 5px; padding-bottom: 5px;" valign="top">
                        <span style="color: #7F7F7F; text-align: justify; font-size: 13px;">
                            Thank you.
                        </span>
                    </td>
                </tr>
            </table>
        </td>
        <td style="vertical-align: top; padding-top: 5px; padding-bottom: 5px;" valign="top">&nbsp;</td>
    </tr>
</table>
</body>
</html>
