<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml">
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" language="es">
    <title>Confirm your ID4me registration</title>
    <style type="text/css">
        body {
            background-color: #F1F1F1;
            font-family: 'Trebuchet MS', 'Sans-Serif';
            font-size: 13px;
            line-height: 18px;
            margin: 0;
            padding: 0;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        table {
            border-collapse: separate;
            width: 100%;
        }

        table td {
            vertical-align: top;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        table td span,
        table tr td ul li span,
        table tr td ul li {
            color: #7F7F7F;
            text-align: justify;
            font-size: 13px;
        }

        .body {
            background-color: #F1F1F1;
            width: 100%;
        }

        .container {
            display: block;
            margin: 0 auto !important;
            max-width: 600px;
            width: 600px;
        }

        .main {
            background: #ffffff;
            width: 100%;
        }

        .wrapper {
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .title {
            padding-top: 20px;
            padding-bottom: 10px;
        }

        .title span {
            font-size: 20px;
            font-family: 'Arial', 'Sans-Serif';
            text-align: left;
        }

        blockquote {
            border-left: 5px #7F7F7F solid;
            padding-left: 12px;
            margin: 20px 20px;
        }

        blockquote span {
            display: block;
            margin-bottom: 10px;
        }

        .btn {
            width: 100%;
        }

        .btn > tbody > tr > td {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .btn table {
            width: auto;
            border-collapse: collapse;
            border: 5px solid #AB945A;
        }

        .btn table > tbody > tr > td {
            background-color: #AB945A;
        }

        .btn-wrapper {
            text-align: center;
            margin: 0;
            padding: 0;
            background-color: #AB945A;
        }

        .btn a {
            cursor: pointer;
            text-decoration: none;
        }

        .btn a span {
            font-size: 14px;
            color: #ffffff;
            line-height: 1;
            color: #ffffff;
            font-weight: bold;
            text-decoration: none;
        }

        a span {
            color: #5d5d5d;
            text-decoration: underline;
        }
    </style></head>
<body>
<table border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
        <td>&nbsp;</td>
        <td class="container">
            <table class="main wrapper">
                <tr>
                    <td class="title">
                        <span>
                            Confirm your ID4me registration
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>
                            Hey there!
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>
                            Thank you for your ID4me registration.
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <blockquote>
                            <span>
                                <b>ID4me:</b> {{ domain }}
                            </span>
                            <span>
                                <b>Identity Authority:</b> https://{{ iau }}
                            </span>
                            <span>
                                <b>Identity Agent:</b> {{ iag }}
                            </span>
                        </blockquote>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>
                            Your registration is almost done. Please click on the link below to proceed.
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" class="btn">
                            <tbody>
                            <tr>
                                <td width="30%">&nbsp;</td>
                                <td class="btn-wrapper" bgcolor="#AB945A" width="40%">
                                    <a target="_blank" href="{{ magic }}">
                                        <span>Setup my ID4me</span>
                                    </a>
                                </td>
                                <td width="30%">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>
                            Thank you.
                        </span>
                    </td>
                </tr>
            </table>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>
</body>
</html>
