.datepicker .calendar .calendar-nav {
    background-color: #007A9D;
}

.datepicker .calendar .calendar-date .date-item.is-today {
    border-color: #929799;
    color: #929799;
}

.datepicker .calendar .calendar-date .date-item.is-active {
    border-color: #929799;
    background: #929799;
    color: #FFFFFF;
}