html, body {
    padding: 0;
    margin: 0;
    font-family: 'Lato' !important;
}

html {
    height: 100%;
    background-color: white;
}

body {
    display: flex;
    flex-flow: column;
    min-height: 100%;
}

.navbar {
    box-shadow: none;
    flex: 0 1 auto;
}

.navbar-brand {
    margin: auto;
}

.navbar.is-primary {
    background-color: rgba(254, 189, 59, 1);
}

.navbar.is-primary .navbar-brand>.navbar-item {
    font-size: 1.5rem;
    color: #000706;
}

.navbar.is-primary .navbar-brand>a.navbar-item:hover {
    background-color: transparent;
    color: #000706;
}

.navbar.is-fixed-bottom {
    background-color: rgba(0, 122, 157, 0.15)
}

.hero {
    background-color: rgba(0, 122, 157, 1)
}

.title {
    color: white;
    font-weight: 200;
}

.box {
    border-radius: 2px;
}

.section {
    padding: 1.5rem 1.5rem;
}

.button {
    border-radius: 2px;
}

a {
    color: #007A9D;
    text-decoration: none;
}

a:hover {
    color: #FEBD3B;
    text-decoration: none;
}

.navbar-burger:hover {
    background-color: transparent;
}

.navbar-burger span {
    color: #000706;
}

.button.is-primary {
    border-color: #007A9D;
    background-color: #007A9D;
    color: white;
}

.button.is-primary:hover, .button.is-primary:active, .button.is-primary:focus:not(:active) {
    background-color: transparent;
    border-color: #007A9D;
    color: #007A9D;
    box-shadow: none;
}

.button.is-secondary {
    border-color: #FEBD3B;
    background-color: #FEBD3B;
    color: white;
}

.button.is-secondary:hover, .button.is-secondary:active, .button.is-secondary:focus:not(:active) {
    border-color: #FEBD3B;
    background-color: transparent;
    color: #FEBD3B;
    box-shadow: none;
}

thead {
    background-color: #F1F1F1;
}

.notification {
    background-color: rgba(0, 122, 157, 0.05);
    border-top: 1px #007A9D solid;
    border-bottom: 1px #007A9D solid;
    border-radius: 0;
    margin-top: 16px;
}

.notification > .title {
    color: #007A9D;
    font-size: 1.5rem;
}

.notification.is-success {
    color: #717F95;
    background-color: rgba(233, 249, 237, 0.33);
    border-top: 1px #3DCA59 solid;
    border-bottom: 1px #3DCA59 solid;
    border-radius: 0;
    margin-top: 16px;
}

.notification.is-success > .title {
    color: #3DCA59;
}

.notification.is-warning {
    color: #717F95;
    background-color: rgba(255, 154, 0, 0.05);
    border-top: 1px #ff9a00 solid;
    border-bottom: 1px #ff9a00 solid;
    border-radius: 0;
    margin-top: 16px;
}

.notification.is-warning > .title {
    color: #ff9a00;
}

.notification.is-error {
    color: #646E82;
    background-color: rgba(251, 230, 230, 0.33);
    border-top: 1px #d60600 solid;
    border-bottom: 1px #d60600 solid;
    border-radius: 0;
    margin-top: 16px;
}

.notification.is-error > .title {
    color: #d60600;
}

.main.columns {
    flex: 1 1 auto;
}

.columns.is-gapless:not(:last-child) {
    margin-bottom: 0;
}

.is-menu-column {
    display: none;
}

@media screen and (max-width: 1087px) {
    .is-menu-column {
        background-color: white;
    }

    .is-menu-column.is-active {
        display: block;
    }
}

@media screen and (min-width: 1088px) {
    .is-menu-column {
        background-color: white;
        box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.15);
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
    }
}

.navbar-burger {
     margin-left: 0;
}

.navbar-burger span {
    color: white;
}

.menu {
    border-radius: 2px;
    width: 100%;
}

.menu-list {
    font-size: 0.85rem;
}

.menu-label {
    padding: 15px;
}

ul.menu-list > li > a {
    border-radius: 0;
    padding: 15px;
}

.menu-list a.is-active {
    background-color: white;
    color: #FEBD3B;
    border-left: 5px solid #FEBD3B;
}

.menu-list a:hover {
    background-color: white;
    color: #FEBD3B;
    border-left: 5px solid #FEBD3B;
}

hr {
    margin: 0.25rem 15px 0.25rem 15px;
    background-color: #C8CBCE;
}

.input-label {
    padding-top: 0 !important;
}

.input-label > .input {
    font-weight: 700;
    margin-bottom: .5em;
}

.claim-category {
    color: #929799;
    font-size: 1.25em;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding: 1rem 0;
}
