{% extends 'base.html' %}

{% block title %}
    Unauthorized
{% endblock %}

{% block content %}
    <section class="section has-text-centered">
        We could not log you in. Please <a href="{{ url_for('logout') }}">try again</a> with a different domain.
    </section>

    <div class="notification is-error">
        <div class="title">{{ error }}</div>
        <div>{{ error.description }}</div>
    </div>
{% endblock %}
