{% extends 'base.html' %}

{% block title %}
    Page not found
{% endblock %}

{% block content %}
    <section class="section has-text-centered">
        The requested page could not be found. Will be redirected to main page in 5 seconds.
    </section>
{% endblock %}

{% block scripts %}
    <script>
        window.setTimeout(function () { window.location = '/';}, 5000);
    </script>
{% endblock %}
