{% extends 'base.html' %}

{% block title %}
    Internal Error
{% endblock %}

{% block content %}
    <section class="section has-text-centered">
        The requested action could not be completed due to an internal error. Please try again later.
    </section>

    <div class="notification is-error">
        <div class="title">{{ error }}</div>
        <div>{{ error.description }}</div>
    </div>
{% endblock %}
