{% extends 'base.html' %}

{% block title %}
    Access Logs
{% endblock %}

{% block content %}
    {% if log|length > 0 %}
        <section class="section" style="overflow-x:auto;">
            <table class="table is-fullwidth">
                <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Subject</th>
                    <th>ID4me</th>
                    <th>Issuer</th>
                    <th>Claims granted</th>
                    <th>Client</th>
                </tr>
                </thead>
                <tbody>
                {% for item in log %}
                    <tr>
                        <td>{{ item.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                        <td style="word-break: break-word">{{ item.subject }}</td>
                        <td>{{ item.domain }}</td>
                        <td>{{ item.issuer }}</td>
                        <td>{{ item.claims }}</td>
                        <td>{{ client_names[item.client] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <nav class="pagination" role="navigation" aria-label="pagination">
                {% if page > 0 %}
                    <a class="pagination-previous" href="{{ url_for('access_log', page = page - 1) }}">Previous page</a>
                {% else %}
                    <a class="pagination-previous is-invisible"></a>
                {% endif %}
                {% if log|length == 10 %}
                    <a class="pagination-next" href="{{ url_for('access_log', page = page + 1) }}">Next page</a>
                {% else %}
                    <a class="pagination-next is-invisible"></a>
                {% endif %}
            </nav>
        </section>
    {% else %}
        <section class="section has-text-centered">
            No logs available yet.
        </section>
    {% endif %}
{% endblock %}
