<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ID4me Identity Agent Open Prototype</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma-calendar.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calendar-style.css') }}"/>
</head>
<body>
<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        {% if session.valid %}
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="sideMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        {% endif %}
        <a href="{{ url_for('index') }}" class="navbar-item">
            <img src="{{ url_for('static', filename='img/full-logo.png') }}">
            &nbsp; Demo Identity Agent
        </a>
    </div>
</nav>
<div class="main columns is-gapless">
    {% if session.valid %}
        <div class="column is-2 is-menu-column" id="sideMenu">
            <aside class="menu">
                <p class="menu-label">
                    General
                </p>
                <hr>
                <ul class="menu-list">
                    <li>
                        <a class="{{'is-active' if '/' == request.path }}"
                           href="{{ url_for('index') }}">Data</a>
                    </li>
                    <li>
                        <a href="https://{{ session.iau }}/dashboard" target="_blank">Identity authority dashboard</a>
                    </li>
                </ul>
                <p class="menu-label">
                    Logs
                </p>
                <hr>
                <ul class="menu-list">
                    <li>
                        <a class="{{'is-active' if '/authentication_log' == request.path }}"
                           href="{{ url_for('auth_log') }}">Authentication logs</a>
                    </li>
                    <li>
                        <a class="{{'is-active' if '/access_log' == request.path }}"
                           href="{{ url_for('access_log') }}">Access logs</a>
                    </li>
                </ul>
                <p class="menu-label">
                    Logout
                </p>
                <hr>
                <ul class="menu-list">
                    <li>
                        <a href="{{ url_for('logout') }}">Logout</a>
                    </li>
                </ul>
            </aside>
        </div>
    {% endif %}
    <div class="column">
        <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        {% block title %}{% endblock %}
                    </h1>
                </div>
            </div>
        </section>
        {% block single_box %}
            <section class="section">
                <div class="container">
                    <div class="box">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </section>
        {% endblock %}
    </div>
</div>

{% block bottom_nav %}{% endblock %}

<script src="{{ url_for('static', filename='js/bulma-calendar.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/calendar.js') }}"></script>
<script src="{{ url_for('static', filename='js/navbar.js') }}"></script>

{% block scripts %} {% endblock %}
</body>
</html>