{% extends 'base.html' %}

{% block title %}
    Complete challenge for {{ domain }}
{% endblock %}

{% block content %}

    <span id="conf"
          data-acme="{{ url_for ('check_acme_dns') }}"
          data-domainconnect="{{ url_for ('check_domain_connect_dns') }}"
          data-domaintemplate="{{ url_for('domain_connect_challenge') }}"
          data-challenge="{{ url_for ('challenge_status') }}"></span>
    <section class="section">
        <div id="challenge">
            <div class="has-text-centered" id="acme-message"></div>
            <h2 class="subtitle">
                Please create the following DNS record on your domain
            </h2>
            <table class="table is-fullwidth">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                {% for record in records %}
                    <tr>
                        <td>{{ record.name }}</td>
                        <td>{{ record.type }}</td>
                        <td>{{ record.value }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="is-size-7">* this registration process will be kept open for 30 minutes, if you decide to resume just enter the domain name again in the "Register" form</div>
            <div class="is-size-7">**please note that challenge is only active for 30 minutes</div>
            <br>
            <div>
                <button class="button is-primary" onclick="poll(5000, 'challenge', 'message').then(redirect)">I've set my DNS records</button>
                <button class="button is-secondary" onclick="openDomainConnect()" id="domainConnect" style="display:none">Do settings with Domain Connect</button>
                <a href="{{ url_for('logout') }}" class="is-pulled-right">
                    <button class="button">Home</button>
                </a>
            </div>
        </div>
        <br>
        <div class="has-text-centered" id="message"></div>
        <a href="{{ url_for('logout') }}" style="display:none" id="return">
            <button class="button">Home</button>
        </a>
    </section>
{% endblock %}

{% block scripts %}
    <script>
        function poll(interval, urlName, messageId) {
            interval = interval || 100;
            var checkCondition = function (resolve) {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.onreadystatechange = function () {
                    if (xmlHttp.status === 200 && xmlHttp.readyState === xmlHttp.DONE) {
                        var response = JSON.parse(xmlHttp.responseText);
                        if (response.status === 400) {
                            document.getElementById(messageId).classList.add('notification');
                            document.getElementById(messageId).classList.add('is-warning');
                            document.getElementById(messageId).innerHTML = response.message;
                            setTimeout(checkCondition, interval, resolve);
                        }
                        if (response.status === 302) {
                            document.getElementById(messageId).classList.add('notification');
                            if (response.message.indexOf('completed') !== -1) {
                                document.getElementById(messageId).classList.remove('is-warning');
                                document.getElementById(messageId).classList.add('is-success');
                            }
                            document.getElementById(messageId).innerHTML = response.message;
                            console.log("Will redirect");
                            resolve(response);
                        }

                        if (response.status === 201) {
                            document.getElementById(messageId).classList.add('notification');
                            document.getElementById(messageId).innerHTML = response.message;
                            document.getElementById(messageId).classList.add('is-success');
                            document.getElementById('challenge').style.display = "none";
                            document.getElementById('return').style.display = "inline-block";
                        }

                        if (response.status === 422) {
                            document.getElementById(messageId).classList.add('notification');
                            document.getElementById(messageId).innerHTML = response.message;
                            document.getElementById(messageId).classList.add('is-warning');
                            document.getElementById('challenge').style.display = "none";
                            document.getElementById('return').style.display = "inline-block";
                        }

                        if (response.status === 200) {
                            document.getElementById(messageId).classList.add('notification');
                            document.getElementById(messageId).innerHTML = response.message;
                            setTimeout(checkCondition, interval, resolve);
                        }
                    }
                };
                var url = document.getElementById('conf').dataset[urlName];
                xmlHttp.open("POST", url, true);
                xmlHttp.send(null);
            };
            return new Promise(checkCondition);
        }

        function redirect(result) {
            setTimeout(function () {
                window.location = result.redirect;
            }, 2000);
        }

        function checkDomainConnect() {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState === xmlHttp.DONE && xmlHttp.status === 200) {
                    var response = JSON.parse(xmlHttp.responseText);
                    if (response.status === 200) {
                        document.getElementById("domainConnect").style.display = "inline-block";
                    } else {
                        document.getElementById("domainConnect").style.display = "none";
                    }
                }
            };
            var url = document.getElementById('conf').dataset.domainconnect;
            xmlHttp.open("POST", url, true);
            xmlHttp.send(null);
        }

        function checkDomainConnectTabClosed(interval, window) {
            interval = interval || 100;
            var checkTab = function () {
                if (window.closed) {
                    poll(1000, 'challenge', 'message').then(redirect);
                } else {
                    setTimeout(checkTab, interval);
                }
            };
            return new Promise(checkTab);
        }

        function openDomainConnect() {
            document.getElementById("domainConnect").classList.add('is-loading');
            var url = document.getElementById('conf').dataset.domaintemplate;
            var domainConnectWindow = window.open(url, "_blank");
            checkDomainConnectTabClosed(2000, domainConnectWindow);
        }

        poll(10000, "acme", "acme-message");
        checkDomainConnect();
    </script>
{% endblock %}
