{% extends'base.html' %}

{% block title %}
    Data for {{ ', '.join(domains) }}
{% endblock %}

{% block single_box %}
    <section class="section">
        <div class="box">
            <p class="has-text-centered">
                Here you can manage all your data. We recommend that you fill all standard claims in order to easily
                integrate with other relaying parties.
            </p>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="notification has-text-centered is-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <form method="POST" autocomplete="off" id="claims_form">
            <div class="columns">
                <div class="column is-half">
                    <div class="section box">
                        <h3 class="claim-category">Personal Data</h3>
                        <div class="field">
                            <label class="label">Birthdate</label>
                            <p class="control">
                                <input class="input" type="date" name="birthdate" value="{{ claims.birthdate }}">
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">Family name</label>
                            <p class="control">
                                <input class="input" type="text" name="family_name" value="{{ claims.family_name }}">
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">Gender</label>
                            <p class="control">
                                <input class="input" type="text" name="gender" value="{{ claims.gender }}">
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">Given name</label>
                            <p class="control">
                                <input class="input" type="text" name="given_name" value="{{ claims.given_name }}">
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">Locale</label>
                            <p class="control">
                                <input class="input" type="text" name="locale" value="{{ claims.locale }}">
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">Middle name</label>
                            <p class="control">
                                <input class="input" type="text" name="middle_name" value="{{ claims.middle_name }}">
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">Name</label>
                            <p class="control">
                                <input class="input" type="text" name="name" value="{{ claims.name }}">
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">Nickname</label>
                            <p class="control">
                                <input class="input" type="text" name="nickname" value="{{ claims.nickname }}">
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">Picture</label>
                            <p class="control">
                                <input class="input" type="text" name="picture" value="{{ claims.picture }}">
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">Profile</label>
                            <p class="control">
                                <input class="input" type="text" name="profile" value="{{ claims.profile }}">
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">Website</label>
                            <p class="control">
                                <input class="input" type="text" name="website" value="{{ claims.website }}">
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">Zoneinfo</label>
                            <p class="control">
                                <input class="input" type="text" name="zoneinfo" value="{{ claims.zoneinfo }}">
                            </p>
                        </div>
                    </div>

                    <div class="section box">
                        <h3 class="claim-category">Main Contact</h3>
                        <div class="field">
                            <label class="label">Email</label>
                            <p class="control">
                                <input class="input" type="email" name="email" value="{{ claims.email }}">
                            </p>
                        </div>
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" name="email_verified" value="True"
                                        {% if claims.email_verified %} checked {% endif %}>
                                Email verified
                            </label>
                        </div>
                        <div class="field">
                            <label class="label">Phone number</label>
                            <p class="control">
                                <input class="input" type="text" name="phone_number" value="{{ claims.phone_number }}">
                            </p>
                        </div>

                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" name="phone_number_verified" value="True"
                                        {% if claims.phone_number_verified %} checked {% endif %}>
                                Phone number verified
                            </label>
                        </div>

                        <div class="field">
                            <label class="label">Preferred username</label>
                            <p class="control">
                                <input class="input" type="text" name="preferred_username" value="{{ claims.preferred_username }}">
                            </p>
                        </div>
                    </div>
                </div>

                <div class="column is-half">
                    <div class="section box">
                        <h3 class="claim-category">Address</h3>
                        <div class="field">
                            <label class="label">Country</label>
                            <p class="control">
                                <input class="input" type="text" name="address_country" value="{{ claims.address.country }}">
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">Locality</label>
                            <p class="control">
                                <input class="input" type="text" name="address_locality" value="{{ claims.address.locality }}">
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">Postal code</label>
                            <p class="control">
                                <input class="input" type="text" name="address_postal_code" value="{{ claims.address.postal_code }}">
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">Region</label>
                            <p class="control">
                                <input class="input" type="text" name="address_region" value="{{ claims.address.region }}">
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">Street address</label>
                            <textarea class="textarea" rows="3" name="address_street_address">{{ claims.address.street_address }}</textarea>
                        </div>
                        <div class="field">
                            <label class="label">Formatted address</label>
                            <textarea class="textarea" rows="5" name="address_formatted">{{ claims.address.formatted }}</textarea>
                        </div>
                    </div>

                    <div class="section box">
                        <h3 class="claim-category">Custom Claims
                            <input type="button" class="button is-secondary is-pulled-right" onclick="createField()" value="Add custom claims">
                        </h3>

                        {% for claim in custom_claims %}
                            <div class="field">
                                <label class="label">{{ claim.claim }}</label>
                                <p class="control">
                                    <input class="input" type="text" name="{{ claim.claim }}" value="{{ claim.value }}">
                                </p>
                            </div>
                        {% endfor %}
                        <div id="custom_fields">
                            <div class="field"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
{% endblock %}

{% block bottom_nav %}
    <nav class="navbar is-fixed-bottom">
        <div class="navbar-brand">
            <div class="navbar-item">
                <button class="button is-primary" type="submit" id="submit_button">
                    Confirm all changes
                </button>
            </div>
        </div>
    </nav>
{% endblock %}

{% block scripts %}
    <script>
        function createField() {
            var custom_div = document.getElementById('custom_fields');
            custom_div.removeChild(custom_div.lastChild);
            var new_field = document.createElement('div');
            new_field.classList.add('field');
            new_field.classList.add('custom-field');
            new_field.innerHTML = "<p class=\"control input-label\">" +
                "<input class=\"input\" type=\"text\" onchange=updateName(this) placeholder=\"label\">" +
                "</p>" +
                "<p class=\"control\">" +
                "<input class=\"input\" type=\"text\" placeholder=\"value\">" +
                "</p>";
            custom_div.appendChild(new_field);
            var empty_field = document.createElement('div');
            empty_field.classList.add('field');
            custom_div.appendChild(empty_field);
        }

        function updateName(element) {
            var value = element.value;
            // set the value input's name
            element.parentElement.nextElementSibling.firstElementChild
                .setAttribute('name', value);
        }

        document.getElementById('submit_button').addEventListener("click", function () {
            var form = document.getElementById('claims_form');
            form.submit();
        });
    </script>
{% endblock %}