{% extends 'base.html' %}

{% block title %} Login with ID4me {% endblock %}

{% block content %}

    <section class="section">
        <form action="{{ url_for('login') }}" method="POST">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Domain</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" name="domain" required/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label"></div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input type="image" name="submit"
                                   src="{{ url_for('static', filename='img/button.png') }}"
                                   style="width: 216px">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label"></div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            Don't have an ID yet?
                            <a href="{{ url_for('register') }}">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>

    {% if wrong_dns_domain %}
        <div class="notification has-text-centered">
            <div>We could not discover your identity <strong>{{ wrong_dns_domain }}</strong>. You must <a href="{{ url_for('register') }}?domain_hint={{ wrong_dns_domain }}">register</a> first.</div>
        </div>
    {% endif %}
{% endblock %}