{% extends 'base.html' %}

{% block title %}
    Register with ID4me
{% endblock %}

{% block content %}
    <form action="{{ url_for('register') }}" method="POST">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Domain</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" name="domain" required value="{{ domain_hint }}"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal"></div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" name="terms" required>
                            I agree with terms and conditions.
                        </label>
                    </div>
                </div>
            </div>
        </div>


        <div class="field is-horizontal">
            <div class="field-label is-normal"></div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" id="another" name="another" onclick="showEmail()">
                            I want to start registration for someone else.
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal" id="email_div" style="display:none">
            <div class="field-label is-normal">
                <label class="label">Email</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="email" id="email" name="email">
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label"></div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <button class="button is-primary">
                            Create ID4me
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script>
    function showEmail() {
        var another = document.getElementById('another');
        var email_div = document.getElementById('email_div');
        var email = document.getElementById('email');
        if (!another.checked) {
            email.value = '';
            email_div.style.display = "none";
            return;
        }
        email_div.style.display = "flex";
    }
    </script>
{% endblock %}
